<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alumno_1.lunchbassols">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logou"
        android:label="LunchBassols"
        android:roundIcon="@mipmap/logou"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".Compra" />
        <activity android:name=".Pago" />
        <activity android:name=".tick" />
        <activity
            android:name=".Activity_transicion"
            android:label="Transicion" />
        <activity
            android:name=".Index"
            android:label="LunchBassols">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuInicio" />
        <activity android:name=".Abebidas" />
        <activity android:name=".Asnacks" />
        <activity android:name=".Acomida"></activity>
    </application>

</manifest>